html{background: #f0f0f0;}
#app{text-align: center;font-size: 0.2rem;}
.fade-enter-active, .fade-leave-active {
  transition: opacity 2s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in below version 2.1.8 */ {
  opacity: 0
}
.iconfont{
  font-size: 20px;
}