html{background: #f5f5f5;}
#app{text-align: center;font-size: 0.2rem;}
.fade-enter-active, .fade-leave-active {
  transition: opacity 2s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in below version 2.1.8 */ {
  opacity: 0
}
.iconfont{
  font-size: 20px;
}
table{
  width: 99%;
  font-size: 15px;
  color: #555;
  margin: 10px auto;
  text-align: center;
}
tr{
}
.flex1{
  max-width: 30px;
}
.flex2{
  min-width: 50px;
}
th{
  text-align: center;
  padding: 5px;
  border: solid 1px #ddd;
  min-width: 50px;
  background-color: #f0f0f0;
}
td{
  padding: 5px;
  border: solid 1px #ddd;
}
tr:hover{
  background-color: #f2f3f4;
}
.descr{
  max-width: 50px;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}