html{background: #f5f5f5;}
#app{text-align: center;font-size: 0.2rem;}
.fade-enter-active, .fade-leave-active {
  transition: opacity 2s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in below version 2.1.8 */ {
  opacity: 0
}
.iconfont{
  font-size: 20px;
}
table{
  width: 99%;
  font-size: 15px;
  color: #555;
  margin: 10px auto;
  text-align: center;
}
tr{
}
.flex1{
  max-width: 30px;
}
.flex2{
  min-width: 50px;
}
th{
  text-align: center;
  padding: 5px;
  border: solid 1px #ddd;
  min-width: 50px;
  background-color: #f0f0f0;
}
td{
  padding: 5px;
  border: solid 1px #ddd;
}
tr:hover{
  background-color: #f1f3f6;
}
.descr{
  max-width: 50px;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.add{
  font-size: 17px;
}
.del{
  font-size: 17px;
  background-color: gray;
  border: none;
}
.edit{
  background-color: #2E4C99;
  font-size: 17px;
  border: none;
}
.view{
  background-color: #1EB5E3;
  font-size: 17px;
  border: none;
  background-color: #72AD1A;
}
.search{
  background-color: #1EB5E3;
  font-size: 17px;
  border: none;
  background-color: #865F99;
}
.searchKey{
  padding: 10px;
  margin-right: 0px;
  background: #e0e0e0;
  background-color:#BDAFAF;
  font-weight: bold;
  font-size: 19px;
}